body {
background: #efefef;
font-family: 'Open Sans', sans-serif;
color: #777;
}

a {
color: #002C49;
font-weight: 400;
}

span {
font-weight: 300;
color: #002C49;
}

.mlogin {
margin: 170px auto 0;
}

.mregister {
margin: 80px auto 0;
}

.error {
margin: 40px auto 0;
border: 1px solid #777;
padding: 3px;
color: #fff;
text-align: center;
width: 650px;
background: #002C49;
}

.regtext {
font-size: 13px;
margin-top: 26px;
color: #777;
}

.container {
padding: 25px 16px 25px 10px;
font-weight: 400;
overflow: hidden;
width: 1920px;
height: auto;
background: #fff;
}

#welcome {
width: 500px;
padding: 30px;
background: #fff;
margin: 160px auto 0;
}

.container h1 {
color: #777;
text-align: center;
font-weight: 300;
margin-top: 13px;
}

.container label {
color: #777;
font-size: 14px;
}

#login {
width: 320px;
margin: auto;
padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e]{
background: #fbfbfb;
font-size: 24px;
line-height: 1;
width: 100%;
padding: 3px;
margin: 0 6px 5px 0;
outline: none;
border: 1px solid #d9d9d9;
}

.container form .input:focus {
border: 1px solid #002C49;
}

.button{
border: solid 1px #000;
background: #002C49;
color: #fff;
padding: 7px 12px;
border-radius:4px;
float: right;
cursor: pointer;
}
